<h1>Add New Component</h1>

<!-- Required, minlen,maxlen, pattern -->
<!-- Template driven and Reactive forms -->
<div class="alert alert-success" *ngIf="isSuccess">
  Successfully saved product
</div>

<div class="alert alert-danger" *ngIf="hasError">
  Failed to save product. Please try again later
</div>

<table class="table">
  <thead>
    <tr>
      <th>Field</th>
      <th>Valid</th>
      <th>Invalid</th>
      <th>Dirty</th>
      <th>Pristine</th>
      <th>Touched</th>
      <th>Erorr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Brand</td>
      <td>{{brand.valid}}</td>
      <td>{{brand.invalid}}</td>
      <td>{{brand.dirty}}</td>
      <td>{{brand.pristine}}</td>
      <td>{{brand.touched}}</td>
      <td>{{brand.errors | json}}</td>
    </tr>
  </tbody>
</table>


<form novalidate #frm="ngForm">
  <div class="col-md-5">
    <div class="form-group">
      <input #brand="ngModel" type="text" required="true" minlength="3" maxlength="10" name="brand" placeholder="Brand" class="form-control" [(ngModel)]="product.brand">
      <span class="text-danger" *ngIf="brand.touched && brand.errors?.required">Required</span>
      <span class="text-danger" *ngIf="brand.touched && brand.errors?.minlength">Min 3 Chars</span>
      <span class="text-danger" *ngIf="brand.touched && brand.errors?.maxlength">Max 10 Chars</span>
    </div>
    <div class="form-group">
      <input #model="ngModel" type="text" required="true" name="model" placeholder="Model" class="form-control" [(ngModel)]="product.model">
      <span class="text-danger" *ngIf="model.touched && model.invalid">Required</span>
    </div>
    <div class="form-group">
      <input #price="ngModel" pattern="[0-9]{3,6}" type="text" required="true" name="price" placeholder="Price" class="form-control" [(ngModel)]="product.price">
      <span class="text-danger" *ngIf="price.touched && price.errors?.required">Required</span>
      <span class="text-danger" *ngIf="price.touched && price.errors?.pattern">Invalid Price</span>
    </div>
    <div class="form-group">
      InStock:
      <input type="checkbox" name="inStock" [(ngModel)]="product.inStock" />
    </div>
    <div class="form-group">
      <button class="btn btn-info" (click)="onSave()" [disabled]="frm.invalid">
        Save Product
      </button>
    </div>
  </div>
</form>